:root{
    --primary-color: rgb(68, 63, 56); /*tan*/
    --secondary-color: rgb(7, 0, 0); /*teal*/  
    --accent1-color: rgb(252, 251, 251); /*coral*/
    --accent2-color: rgb(68, 140, 207); /*lightblue*/
    --heading-font: "Times New Roman", Times, serif;
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--accent2-color);
    padding: 1rem;

}
*{
    MARGIN: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--body-font);
    color: var(--accent1-color);  
}

main{
    width: 1000px;
    margin: 0 auto;
    padding: 1rem;
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

article,section{
    margin: 10px;
    padding: 8px;
    
}

 p  {
    margin: 1rem 0;
    padding: 0;
    
}
nav  {
    display:flex;
    justify-content: flex-end;
    gap: 2rem;
    
}
article, section, p, nav {
    color: var(--secondary-color)
}
.socialmedia a {
    text-decoration: none;
}
.hero {
    position: relative;
    

}
.hero img {
    display:block;
    width: 100%;
    
}
.hero h1 {
    position: absolute;
    top: 30%;
    width: 100%;
    padding: 1rem;
    text-align: center ;
    background-color: var(--accent1-color);
    color: #fff; /* white text */
}
.hero article {
    position: absolute;
    bottom: 1rem;
    left: 30px;
    background-color: var(--accent2-color);
    padding: 1rem;
}
.hero article img {
    float:right;
}

footer{
    width: 600px;
    margin: 0 auto;
    padding: 1rem;}