:root{
    --primary-color: rgb(68, 63, 56); /*tan*/
    --secondary-color: teal; /*teal*/  
    --accent1-color: rgb(17, 8, 5); /*coral*/
    --accent2-color: lightblue; /*lightblue*/
    --heading-font: "Times New Roman", Times, serif;
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);

}
*{
    MARGIN: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--body-font);
    color: var(--accent1-color);  
}

header, main, footer{
    width: 600px;
    margin: 0 auto;
    padding: 1rem;
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

article,section{
    margin: 10px;
    padding: 8px;
    
}

 p  {
    margin: 1rem 0;
    padding: 0;
    
}
nav  {
    margin: 16px;
    padding: 8px;
    
}
article, section, p, nav {
    color: var(--secondary-color)
}
.socialmedia a {
    text-decoration: none;
}
.hero {
    position: relative;

}
.hero img {
    display:block;
    width: 100%;
    height: auto;
}
.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff; /* white text */
}
.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: var(--accent2-color);
    padding: 1rem;
}
.hero article img {
    float:right;
}