:root{
    --primary-color: rgb(68, 63, 56); /*tan*/
    --secondary-color: rgb(7, 0, 0); /*teal*/  
    --accent1-color: rgb(41, 37, 37); /*coral*/
    --accent2-color: rgb(183, 209, 233); /*lightblue*/
    --heading-font: "Times New Roman", "Times", "serif";
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--accent2-color);
    padding: 1rem;

}
*{
    MARGIN: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--body-font);
    color: var(--accent1-color);  
}

main{
   margin: 0 auto;
    flex: 1;
    text-align: center;
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

article,section{
    margin: 10px;
    padding: 8px;
    
}

 p  {
    margin: 1rem 0;
    padding: 0;
    
}
nav  {
    display:flex;
    justify-content: flex-end;
    gap: 2rem;
    color: var(--accent2-color)
    
}
article, section, p {
    color: var(--secondary-color)
}
.hero {
    position: relative;
    min-height: 400px;

}
.hero img {
    display: block;
    width: 20%;
    
}

.socialmedia a{
    text-decoration: none;
}

.hero h1 {
    position: absolute;
    top: 30%;
    width: 100%;
    padding: 1rem;
    text-align: center ;
    background-color: var(--accent1-color);
    color: #fff; /* white text */
}
.hero article {
    position: absolute;
    bottom: 1rem;
    left: 20px;
    background-color: var(--accent2-color);
    padding: 1rem;
}
.hero article img {
    float:right;
}

footer{
    width: 600px;
    margin: 0 auto;
    padding: 1rem;}

figure{
    text-align: center;
}

form{
    background-color: rgb(231, 240, 237);
    max-width: 400px;
    border: 2px solid rgb(43, 41, 41);
    padding: 30px;
    border-radius: 5px;
    display: grid;
    gap: 5px;
    
}

section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: end;
    max-width: 900px;
    margin: 2rem auto;
}