



*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


aside {
    width: 20rem;
    /* margin: 1rem;   */
    /* border: 1px solid rgb(0, 0, 0/0.2); /* 1 */
    /* padding: 1rem; */
    /* background-color: #eee; */
    /* color: #333; */
    /* text-align: center; */
}
aside img {
    width: 200px;
    height: auto;
    border: #000 solid 1px;
    padding: 5px;
    box-shadow: #333 2px 2px 6px;
}   
main img {
    float:right;
    width: 150px;
    height: auto;
    border: #000 solid 1px;
    padding: 5px;
    box-shadow: #333 2px 2px 6px;
}
p {padding: 0;}



nav a {
   display: clock;
   padding:0.5rem;
   text-decoration: none;
   font-size: 1.2rem;
   font-weight: 700;
   color: #fff;
}
nav {
    background-color:steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
h1 {
    text-align: center;
    color: darkgreen;
    border-bottom: #000;
}

/* Class selectors */

.box {
    margin: 1rem;
    padding: 1rem;
    border: 5px solid blue;
    color: navy;
    background-color: grey;
}

aside h2{
    position: absolute;
    text-align: center;
    left: 15px;
    top: 470px;
}

header, footer {
    max-width: 840px;
    margin: 0 auto;
}
.grid{
    display: grid;
    align-items:center;
    max-width: 840px;
    margin: 0 auto;
}

footer{
    max-width: 840px;
    margin: 0 auto;
}

main {
  grid-column: 2/3;
  margin: 1rem;
}
    
aside {
  width: 20rem;
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
}