main {
    max-width: 840px;
}
aside {
    width: 20rem;
    margin: 1rem;  
    border: 1px solid rgb(0, 0, 0/0.2); /* 1 */
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;
    border: #000 solid 1px;
    padding: 5px;
    box-shadow: #333 2px 2px 6px;
}   
main img {
    width: 150px;
    height: auto;
    border: #000 solid 1px;
    padding: 5px;
    box-shadow: #333 2px 2px 6px;
}
p {padding: 0;}
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    border: 1px solid #000;
    text-align: center;
}
nav a {
    color: black;
    display: block;
    padding: 5px;
}
nav {
    background-color: aquamarine;
    padding: 5px  10px;
}
h1 {
    color: darkgreen;
}