
header {
    background-color: black;
    color: white;
    padding: 10px;
}   

section {
    background-color: gray;
    color: black;
    padding: 10px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
body {
    background-color: red;

}